:root {
  --mobile-margin: 0 2em;
}

@font-face {
  font-family: bitter-bold;
  src: url(fonts/Bitter-Bold.ttf);
}

@font-face {
  font-family: cabin-medium;
  src: url(fonts/Cabin-Medium.ttf);
}

@font-face {
  font-family: cabin-sb-italic;
  src: url(fonts/Cabin-SemiBoldMedium.ttf);
}

@font-face {
  font-family: cabin-Bold;
  src: url(fonts/Cabin-Bold.ttf);
}

@keyframes bounce {
  0% {
    transform: translateY(.9em);
  }
  25% {
    transform: translateY(.5em);
  }
  50% {
    transform: translateY(.1em);
  }
  75% {
    transform: translateY(.5em);
  }
  100% {
    transform: translateY(.9em);
  }
}


body {
  padding: 0;
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
  font-family: bitter-bold;
  color: white;
}

p,span,li,a {
  font-family: cabin-medium;
  color:white;
}

nav {
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

nav ul > li {
  padding: 1em;
}

section {
  max-width: 100vw;
  min-height: 100vh;
  padding: 1em 0;
}

#home {
  background-image: url(imgs/background.svg);
  background-repeat: no-repeat;
  background-position: top;
  /* background-size: contain; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h1 {
  text-align: center;
  justify-content: center;
  margin-bottom: 10em;
}

#home h1 > span {
  border-bottom: .2em red solid;
  border-bottom-width: .2em;
}

#home > article {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

#home article > a:first-of-type, #home article > a:last-of-type {
  display: none;
}

.show-more {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-more > svg {
  animation: bounce .9s infinite ease-in;
}


/* About page  */
#about {
  margin:var(--mobile-margin);
}

#about article > h3 {
  font-family: bitter-bold !important;
  font-size: 2em;
}

.about-1 h3 > span, .about-2 h3 > span {
  color: #0085ff;
}

/* work layout page */

#work {
  margin: var(--mobile-margin);
}

#work > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project > div {
  display: flex;
}

.projects div a > img {
  max-width: 90%;
}

#contact {
  margin:var(--mobile-margin);
}

#contact article > h3 {
  text-transform: uppercase;
  font-size: 1em;
}

#contact article > h4 {
  text-transform: uppercase;
  font-size: .7em;
}

#contact article > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

#contact article ul > li {
  padding: 0 12px 0 0;
}
