@font-face {
  font-family: "Yantramanav";
  src: url("fonts/Yantramanav-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Yantramanav-bold";
  src: url("fonts/Yantramanav-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Yantramanav-light";
  src: url("fonts/Yantramanav-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Yantramanav-black";
  src: url("fonts/Yantramanav-Black.ttf") format("truetype");
}

body {
  background-color: black;
  color: white;
  width: 98vw;
  font-family: "Yantramanav";
}

nav ul,
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

nav ul li ul {
  padding-left: 0;
}

nav > ul > li > ul li {
  margin-right: 1.876em;
}

ul li span {
  color: #5e5e5e;
}

ul > li > a,
ul > li > a:active,
ul > li > a:visited {
  color: white;
  text-decoration: none;
}

.active-link {
  color: #bababa;
  border-bottom: 2px solid #5e5e5e;
}

main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 5em 0 0 0;
}

main > section > .title {
  font-size: 2em;
  width: 20em;
  font-weight: 500;
  line-height: 39px;
  margin-left: 10em;
}

main > section > article {
  margin-top: 1em;
  margin-left: 20em;
}

main > section > article > h3 {
  text-align: left;
}

main > section > article > p {
  width: 370px;
}

footer {
  position: absolute;
  width: 97%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em 0 2em;
}

footer h1 {
  color: #5e5e5e;
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 96px;
  width: 545px;
}

footer ul {
  text-align: right;
}

footer ul li {
  margin-right: 2em;
  text-align: right;
}

footer ul li:first-of-type {
  color: #5e5e5e;
}
